<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Map1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,768}}</string>
                <key>sourceSize</key>
                <string>{512,768}</string>
            </dict>
            <key>Map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{512,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,768}}</string>
                <key>sourceSize</key>
                <string>{512,768}</string>
            </dict>
            <key>Map3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,768}}</string>
                <key>sourceSize</key>
                <string>{512,768}</string>
            </dict>
            <key>Map4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{512,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,768}}</string>
                <key>sourceSize</key>
                <string>{512,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1bed3d4abc43fd3da269bf13f1b79e2:71eb9a54579bfbd98a4887f56e709141:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
